.App {
  text-align: center;
  font-family: 'Bangers', cursive;
}

/* css for navbar */
.navbar{
  background: rgb(117,17,17) !important;
background: linear-gradient(180deg, rgba(117,17,17,1) 0%, rgba(0,0,0,1) 48%, rgba(119,7,7,1) 95%) !important;
  color: white !important;
}

/* css for feed */

.feed {
  background-image: url(https://wallpaperaccess.com/full/229965.jpg);
  
}
#reviewcard {
  background: rgb(117,17,17) !important;
background: linear-gradient(180deg, rgba(117,17,17,1) 0%, rgba(0,0,0,1) 48%, rgba(119,7,7,1) 95%) !important;
  color: white;
}
@media screen and (min-width: 600px) {
  #reviewcard {
    height: 1050px !important;
    width: 600px !important;
    margin: 0 auto;
  }
}

.reviewtitle{
  color: white;
  background: rgb(117,17,17) !important;
background: linear-gradient(180deg, rgba(117,17,17,1) 0%, rgba(0,0,0,1) 48%, rgba(119,7,7,1) 95%) !important;
  width: 100%;
}

.herocard{
  border: 2px solid black;
  color: white;
  background-color: brown;
  margin: 50px auto;

}

#herodeck{
  margin: 50px auto;
}

.charmodal {
  overflow: scroll;
  
}

.charinfo{
  background-color: black;
  color: white;
  overflow: scroll;
  font-family: 'Bangers', cursive;
}

.chartitle{
  background-color: black;
  color: white;
  font-family: 'Bangers', cursive;
}

.characters{
  background-image: url(https://i.pinimg.com/736x/8f/85/4e/8f854e5acdd706798ffb5f2cd7551cc3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

#charactersearch{
  width: 300px;
  border-radius: 150px;
  color: black;
  background-color: white;
}

#charactersearchbutton{
  width: 100px;
  border-radius: 50px;
  background: white;
}


/* css for comics page */
.comicpage{
  background-color: black;
  color: white;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-gap: 1em;
  padding: 0.5em;
  text-align: center;
  
}

.comiccard{
  background-color: black;
  color: white;
}

