body {
  overflow-x: hidden;
  width: 100%;
}

.App {
  text-align: center;
  font-family: 'Bangers', cursive;
}

/* css for navbar */
.navbar {
  background: rgb(226, 64, 64) !important;
  background: linear-gradient(180deg, rgb(193, 184, 184) 0%, rgb(148, 44, 44) 48%, rgba(119, 7, 7, 1) 95%) !important;
  color: white !important;
}

/* css for feed */

.feed {
  background-image: url(https://wallpaperaccess.com/full/229965.jpg);

}

#reviewcard {
  background: rgb(117, 17, 17) !important;
  background: linear-gradient(180deg, rgba(117, 17, 17, 1) 0%, rgba(0, 0, 0, 1) 48%, rgba(119, 7, 7, 1) 95%) !important;
  color: white;
}

@media screen and (min-width: 600px) {
  #reviewcard {
    height: 1050px !important;
    width: 600px !important;
    margin: 0 auto;
  }
}

.reviewtitle {
  color: white;
  background: rgb(117, 17, 17) !important;
  background: linear-gradient(180deg, rgba(117, 17, 17, 1) 0%, rgba(0, 0, 0, 1) 48%, rgba(119, 7, 7, 1) 95%) !important;
  width: 100%;
}

.herocard {
  border: 2px solid black;
  color: white;
  background-color: brown;
  margin: 50px auto;

}

#herodeck {
  margin: 50px auto;
}

.charmodal {
  overflow: scroll;

}

.charinfo {
  background-color: black;
  color: white;
  overflow: scroll;
  font-family: 'Bangers', cursive;
}

.chartitle {
  background-color: black;
  color: white;
  font-family: 'Bangers', cursive;
}

.characters {
  background-image: url(https://i.pinimg.com/736x/8f/85/4e/8f854e5acdd706798ffb5f2cd7551cc3.jpg);
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

#charactersearch {
  width: 300px;
  border-radius: 150px;
  color: black;
  background-color: white;
}

#charactersearchbutton {
  width: 100px;
  border-radius: 50px;
  background: black;
  color: white;
}


/* css for comics page */
.comicpage {
  background: rgb(117, 17, 17) !important;
  background: linear-gradient(180deg, rgba(117, 17, 17, 1) 0%, rgba(0, 0, 0, 1) 48%, rgba(119, 7, 7, 1) 95%) !important;
  color: white;
  height: 100vh;
}



.comiccard {
  background-color: black;
  color: white;
}


/* css for shelf page */
.shelfwhole {
  background: rgb(215, 215, 220) !important;
  background: linear-gradient(180deg, rgb(193, 184, 184) 0%, rgb(0, 14, 87) 48%, rgb(52, 0, 58) 95%) !important;
  height: 100%;
  background-size: cover;

}




#shelf {

  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.shelfcontent {
  background-color: darkred;
  color: white;
}

.shelfcard {
  background-image: url(https://data.whicdn.com/images/326399109/original.jpg);

  background-color: rgba(0, 0, 0, .5);
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
}

#description {
  overflow-y: scroll;
  height: 200px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  width: 300px;
  margin: 0 auto;
}

.shelftitle {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: darkred;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.herodescription {
  overflow: scroll;
  height: 400px;
  width: 600px;
}

@media screen and (max-width: 500px) {
  .herodescription {
    overflow: scroll;
    height: 400px;
    width: 80%;
    margin: 0 auto;
  }

  #shelf {
    background-image: url(https://wallpaperaccess.com/full/6417422.jpg);
    background-image: url(https://wallpaperaccess.com/full/6417422.jpg);
    background-image: url(https://wallpaperaccess.com/full/6417422.jpg);


    background-size: cover;
  }
}

#reviewbtn {
  opacity: 0;
}

.shelfcard:hover {
  background: rgb(226, 64, 64) !important;
  background: linear-gradient(180deg, rgb(193, 184, 184) 0%, rgb(148, 44, 44) 48%, rgba(119, 7, 7, 1) 95%) !important;
}

#reviewbtn:hover {
  opacity: 1;

}

#comicpage {
  height: 100vh;
  width: 100%;
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto auto;
  background: rgb(215, 215, 220) !important;
  background: linear-gradient(180deg, rgb(193, 184, 184) 0%, rgb(0, 14, 87) 48%, rgb(52, 0, 58) 95%) !important;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  padding: 10px;
}

@media only screen and (max-width: 600px) {

  /* For mobile phones: */
  #comicpage {
    height: 100vh;
    display: grid;
    row-gap: 10px;
    grid-template-columns: auto auto;
    background-color: darkred;
    padding: 10px;
  }

  body {
    width: 100%;
  }

  .reviewcardimage {
    height: 600px;
  }

  .charactersearchform {
    margin-top: 50px;
  }
}

.charactersearchform {
  margin-top: 30px;
}

#reviewform {
  height: 80px;
  width: 100%;
  border: 1px solid black !important;
}

#submitbtn {
  width: 80px;
  height: 25px;
  color: white;
  background-color: darkred;
}



.shelfreview {
  width: 100%;
  height: max-content;

  display: grid;
  row-gap: 50px;
  grid-template-columns: auto;
  padding: 10px;
  color: white;
}

.reviewcard {
  background-image: url(https://www.verdict.co.uk/wp-content/uploads/2017/09/get-into-comic-books-1038x778.jpg);

  background-color: rgba(0, 0, 0, .5);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
}

.reviewcard:hover {
  background: rgb(215, 215, 220) !important;
  background: linear-gradient(180deg, rgb(193, 184, 184) 0%, rgb(0, 14, 87) 48%, rgb(52, 0, 58) 95%) !important;
  background-image: none;
}


.login {
  background-image: url('./images/bookshelf.gif');
  background-position: center;
  height: 100vh;
  color: white;
}

.loginform {
  background-color: rgba(0, 0, 0, .5);
  border: 2px solid white;
  height: 500px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
}

.logininput {
  margin-top: 100px;
}

.shelfwhole {
  background: rgb(215, 215, 220) !important;
  background: linear-gradient(180deg, rgb(193, 184, 184) 0%, rgb(0, 14, 87) 48%, rgb(52, 0, 58) 95%) !important;
  height: 100%;
}

.accordion {

  background-color: transparent;
  margin-top: 30px;
  margin: 0 auto;
}

.dcsearch {
  background: rgb(215, 215, 220) !important;
  background: linear-gradient(180deg, rgb(193, 184, 184) 0%, rgb(0, 14, 87) 48%, rgb(52, 0, 58) 95%) !important;
  width: 100%;
  margin: 0 auto;
}

.comicsearchbutton {
  width: 50%;
  margin: 0 auto;

}

.comicsearchbtn {
  width: 200px;
  color: white;
  background-color: transparent;
}

#searchcomicinput {
  width: 250px;
  height: 40px;
  border-radius: 200px;
  color: red;
}

#marvel {
  color: red;
}



#comicvine {
  color: #67CD84;
}

#vine {
  color: yellow;
}

#search {
  width: 200px;
  background-color: red;
  border-radius: 100px;
  margin: 0 auto;
}


.searchaccord {
  margin: 0 auto;
}

#feedwelcome {
  color: white;
  background-color: rgba(0, 0, 0, .5);

}