.App {
  text-align: center;
}

/* css for navbar */
.navbar{
  background: rgb(117,17,17) !important;
background: linear-gradient(180deg, rgba(117,17,17,1) 0%, rgba(0,0,0,1) 48%, rgba(119,7,7,1) 95%) !important;
  color: white !important;
}

/* css for feed */

.feed {
  background-image: url(https://wallpaperaccess.com/full/229965.jpg);
  
}
#reviewcard {
  background: rgb(117,17,17) !important;
background: linear-gradient(180deg, rgba(117,17,17,1) 0%, rgba(0,0,0,1) 48%, rgba(119,7,7,1) 95%) !important;
  color: white;
}
@media screen and (min-width: 600px) {
  #reviewcard {
    height: 1050px !important;
    width: 600px !important;
    margin: 0 auto;
  }
}

.reviewtitle{
  color: white;
  background: rgb(117,17,17) !important;
background: linear-gradient(180deg, rgba(117,17,17,1) 0%, rgba(0,0,0,1) 48%, rgba(119,7,7,1) 95%) !important;
  width: 100%;
}